body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    text-align: center;
}


/* CABEÇALHO */

header {
    width: 100%;
}

.filtersContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.menuDeCategorias {
    display: flex;
    justify-content: space-between;
}

.menuDeCategorias li {
    display: inline-flex;
    background-color: rgba(18, 184, 134, 0.05);
    list-style: none;
    margin: 0 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #12B886;
    height: 52px;
    align-items: center;
    padding: 14px 26px;
}

.menuDeCategorias li:hover {
    background-color: #12B886;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.valorDosProdutos {
    display: none;
    justify-content: center;
    align-items: center;
}

.containerPrecoTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border: 1.5px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    height: 56px;
    padding: 10px;
    transition: 2s;
    margin-top: 15px;
    width: 1300px;
}

.containerPrecoTotal .paragrafo {
    display: inline-flex;
    align-items: center;
}

.containerPrecoTotal p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #212529;
    padding: 8px;
}

.containerPrecoTotal span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: white;
    background-color: #212529;
    padding: 10px;
    border-radius: 8px;
}

.containerBuscaPorNome {
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    width: 350px;
}

.campoBuscaPorNome {
    width: 280px;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    padding: 0 10px;
    background-color: #F1F3F5;
    border-radius: 8px;
    margin-right: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.estiloGeralBotoes--botaoBuscaPorNome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12B886;
    border: 1.5px solid #12B886;
    color: white;
    box-sizing: border-box;
    border-radius: 8px;
    width: 59px;
    height: 52px;
    padding: 14px 26px;
    cursor: pointer;
}

#inputButton:hover {
    transform: scale(1.1);
    transition: 1s;
}


/* CONTEÚDO */

main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.containerListaProdutos ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 10px;
    width: 1200px;
}

.cardProdutos {
    color: black;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    transition: ease-in-out 1s;
    width: 274px;
    height: 400px;
}

.cardProdutos:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.containerListaProdutos ul li:hover {
    box-shadow: 3px 3px 13px 1px rgb(1, 255, 157);
}

.containerListaProdutos ul li img {
    width: 100%;
}

.containerListaProdutos ul li img:hover {
    cursor: pointer;
    filter: blur(3px);
    transition: 3s;
}

.containerListaProdutos ul li h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #212529;
}

.containerListaProdutos ul li p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #212529;
    margin-top: 10px;
}

.containerListaProdutos ul li span {
    margin-top: 10px;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #868E96;
}

.containerListaProdutos ul li span:hover {
    cursor: pointer;
    color: #12B886;
}

.components li {
    display: flex;
    justify-content: flex-start;
    background-color: #bff3e3;
    opacity: 50%;
    border: 1px solid #12B886;
    font-size: 12px;
}

.reducedPrice {
    background-color: #bff3e3;
}

.hotSales {
    background-color: #bff3e3;
    position: absolute;
    border-radius: 10px 0px 10px 0px;
}

.addToCart--active {
    position: relative;
    bottom: 280px;
    color: rgb(0, 0, 0);
    font-style: italic;
    text-align: center;
    background-color: #12B886;
    border-radius: 10px 0px 10px 0px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 27px;
    cursor: pointer;
}

.addToCart--active:hover {
    animation: buttonHoverAnimation 2s infinite;
    color: rgb(70, 74, 78);
    transition: 1s;
}

@keyframes buttonHoverAnimation {
    0% {
        background-color: #bff3e3;
    }
    100% {
        background-color: #12B886;
    }
}

.containerCarrinho {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border: 1.5px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    max-height: 500px;
    width: 400px;
    max-width: 500px;
    overflow: scroll;
    margin-top: 37px;
    padding: 0px;
}

.cartItems__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    align-items: center;
    font-size: 12px;
    width: 19.8vw;
    margin-top: 20px;
}

.cartItems__items:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 1.5s;
}

.cartItems img {
    width: 90px;
}

.divQuantityAndButton {
    background-color: #bff3e3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.quantidade {
    background-color: #bff3e3;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border: 1.5px solid rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 100%;
}

.cartValues {
    width: 19.8vw;
    background-color: #12B886;
    overflow: absolute;
}

.components {
    display: block;
    justify-content: start;
    color: #585d63;
}

.removeButton {
    background-color: #bff3e3;
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border: 1.5px solid rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 100%;
}

.removeButton:hover {
    background-color: #12B886;
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}